@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.about-pg {
    @include container-default;
    @include container-height-default;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        @include content-default;
    }
}

.bio {
    @include content-default;

    &__text {
        padding: 4rem 0;
        margin-bottom: 1rem;

        &:nth-child(even) {
            color: $color-background;
            background-color: $color-text;
            padding-left: 1rem;
            padding-right: 1rem;
            margin: 0 -1rem 1rem;
            text-align: end;
        }
    }
}