@use "../../styles/variables" as *; 

.copyright-bar {
    width: 100%;
    padding: .5rem 0 0;
    border-top: 2px solid $color-background;
    color: $color-background;

    &__text {
        font-size: 0.75rem;
        font-family: 'Raleway Extra Light';
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
    }

    &__icon {
        display: block;
        width: .75rem;
        margin-right: .25rem;
    }
}