@use "../../styles/mixins" as *; 
@use "../../styles/variables" as *; 

.copyright-bar {
    width: 100%;
    padding: .75rem 0;
    border-top: 2px solid $color-background;
    color: $color-background;

    @include desktop {
        display: flex;
        gap: 2rem;
    }

    &__text-icon-container {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
    }

    

    &__text {
        font-size: 0.75rem;
        font-family: 'Raleway Extra Light';
    }

    &__icon {
        display: block;
        width: .75rem;
        margin-right: .25rem;
    }
}