@use "../../styles/variables" as *;

.skills-form {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__label {
        width: 200px;
        width: 100%;
        height: inherit;
        padding: 2rem 1rem;
        border: 2px solid $color-text;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: box-shadow 150ms ease-out;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 1px solid;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: 1px solid;
        }

        &--selected {
            box-shadow: inset 0 0 5px $color-text;
        }

    }

    &__radio {
        display: none;
    }
}