@use "../../styles/variables" as *;

.skills-form {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__label {
        width: 200px;
        height: inherit;
        padding: 2rem 1rem;
        border: 2px solid $color-text;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        // border: 2px solid blue;

        &--selected {
            box-shadow: inset 0 0 10px black;
        }

    }

    &__radio {
        opacity: 0;
    }
}