@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

$radius: 1.5px;

.hero {
  @include container-default;
  height: calc(100vh - 150px);
  min-height: 400px;
  background-color: $color-background;
  display: flex;
  justify-content: center;
  background-image: radial-gradient(
    circle at $radius $radius,
    $color-text $radius,
    transparent 0
  );
  background-size: 30px 30px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 150px,
      $color-background 150px,
      rgba(0, 0, 0, 0) 55%
    );

    @include tablet {
      background-image: none;
      background-color: $color-background;
      clip-path: polygon(25% 100%, 100% 100%, 100% 25%);
    }
  }

  &__content {
    @include content-default;
    position: relative;
  }

  &__heading {
    z-index: 2;
    text-align: end;
    position: absolute;
    bottom: 125px;
    right: $pg-padding-mobile;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      inset: -10% -5%;
      background-color: $color-background;
    }

    @include mobile {
      width: 60%;
    }

    @include tablet {
      width: auto;
      right: $pg-padding-tablet;
      bottom: 150px;
    }

    @include desktop {
      right: 0;
      bottom: 64px;
    }
  }

  &__text {
    margin-bottom: 0.75rem;

    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &__name {
    font-weight: 600;
    padding: 0 0.3em;
    white-space: nowrap;
    color: $color-background;
    background-color: $color-text;

    &--animate {
      animation: text-grow 1s ease-in-out;
    }
  }

  &__line {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $color-text;
    width: 50%;
    max-width: 160px;
    height: 0.25rem;

    &--animate {
      animation: line-grow 1s ease-in-out;
    }

    @include tablet {
      left: 0;
      max-width: none;
    }
  }
}

@keyframes text-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes line-grow {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
