.main-nav {
    position: absolute;
    width: 75px;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;

    &__items {
        width: inherit;
        // margin-top: 4rem;
        // margin-bottom: 4rem;
        height: inherit;
        display: flex;
        flex-direction: column;
        background-color: red;
    }

    &__item {
        width: inherit;
        height: 75px;
    }

    &__link {
        display: block;
        width: inherit;
        height: inherit;
        text-decoration: none;
        color: black;
        text-align: center;
    }
}