@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


$bubble-diameter: 100px;
$bubble-spacing: 25px;

.bubble {
    position: fixed;
    bottom:$bubble-spacing;
    right:$bubble-spacing;
    width: $bubble-diameter;
    height: $bubble-diameter;
    border-radius: 50%;
    background-color: $color-background;
    box-shadow: 0 0 5px black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transition: 
        width 250ms ease-in-out,
        height 250ms ease-in-out,
        border-radius 250ms ease-in-out,
        display 250ms ease-in-out,
        background-color 250ms ease-in-out;

        @include tablet {
            display: flex;
        }

    &--expand {
        width: 250px;
        height: 200px;
        border-radius: 0;
        background-color: $color-text;
    }

    &__canvas {
        width: $bubble-diameter;
        height: $bubble-diameter;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        transition: 
            width 250ms ease-in-out,
            height 250ms ease-in-out,
            border-radius 250ms ease-in-out;


        &--expand {
            width: 100%;
            height: 50%;
            border-radius: 0;
        }
    }

    &__title {
        transition: color 250ms ease-in-out;

        &--expand {
            color: $color-background;
        }
    }

    &__socials {
        display: none;

        &--expand {
            width: 100%;
            display: block;
        }
    }
}