@use "./variables" as *;

// RESP DESIGN
@mixin mobile {
    @media (min-width: $screen-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $screen-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $screen-desktop) {
        @content;
    }
}

// PAGE DEFAULTS
@mixin page-default {
    width: 100%;
    min-width: $screen-mobile;
    min-height: calc(100vh - 150px);
}

@mixin container-default {
    max-width: 100%;
    display: flex;
    justify-content: center;

    @include mobile {
        padding-left: $pg-padding-mobile;
        padding-right: $pg-padding-mobile;
    } 

    @include tablet {
        padding-left: $pg-padding-tablet;
        padding-right: $pg-padding-tablet;
    }

    @include desktop {
        padding-left: $pg-padding-desktop;
        padding-right: $pg-padding-desktop;
    }
}

@mixin content-default {
    width: 100%;

    @include desktop {
        max-width: 800px;
    }
}