@use "./variables" as *;

// RESP DESIGN
@mixin mobile {
    @media (min-width: $screen-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $screen-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $screen-desktop) {
        @content;
    }
}

// PAGE DEFAULTS
@mixin page-default {
    width: 100%;
    min-width: $screen-mobile;
    min-height: 100vh;
}

@mixin container-default {
    max-width: 100%;
    display: flex;
    justify-content: center;

    @include mobile {
        padding-left: 1rem;
        padding-right: 1rem;
    } 

    @include tablet {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include desktop {
        padding-left: auto;
        padding-right: auto;
    }
}

@mixin content-default {
    width: 100%;

    @include desktop {
        max-width: 800px;
    }
}