@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.skills {
    @include container-default;
    @include container-height-default;
    background-color: $color-background;
    padding-bottom: 2rem;

    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        @include content-default;
    }
}