@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.logo {
    width: 82px;
    padding: 1em;
    border: 4px solid $color-text;
    border-radius: 50%;

    &--alt {
        border: 4px solid $color-background;
    }

    &:hover, &::after    {
        background-color: $color-text-alt;
    }

    &__link {
        color: $color-text;
        text-decoration: none;

        &--alt {
            color: $color-background;
        }
    }
}