@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.section-header {
    @include content-default;
    padding-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include tablet {
        margin-bottom: 4rem;
    }

    &--alt {
        color: $color-background;
    }

    &__heading {
        font-weight: 300;
        text-align: end;
        padding-bottom: 1rem;
        border-bottom: 4px solid;

        @include tablet {
            font-size: 4rem;
        }
    }
}