@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.footer {
    @include container-default;
    min-height: 150px;
    padding-top: 6.25rem;
    background-color: $color-text;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        @include content-default;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        margin-bottom: 2rem;
    }

}