@use "../../styles/mixins" as *;

.skills-list {
    width: 100%;
    list-style: none;
    
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 3rem;
        }
    }
}