@use "./styles/fonts" as *;
@use "./styles/mixins" as *;
@use "./styles/variables" as *;
@use "./styles/global.scss" as *;

*,
*::before,
*::after {
  font-family: "Raleway Medium", Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

html,
body,
#next {
  min-height: 100%;
  min-height: calc(100 * var(--vh));
}

body {
  color: $color-text;
}

.App {
  @include page-default;
}

::-webkit-scrollbar {
  width: 0;
}
