@use "../../styles/mixins" as *;

.socials {
    @include content-default;
    padding-bottom: 2rem;

    &__items {
        display: flex;
        justify-content: space-between;

        @include tablet {
            justify-content: flex-end;
        }
    }

    &__item {
        list-style: none;
        @include tablet {
            margin-right: 0.75rem;         
        }
    }
}