@use "../../styles/mixins" as *;

.socials {
    @include content-default;

    border: 1px solid red;

    &__items {
        display: flex;
        justify-content: space-between;

        @include tablet {
            justify-content: flex-start;
        }

        border: 1px solid yellow;
    }

    &__item {
        list-style: none;
        @include tablet {
            margin-right: 0.75rem;         
        }

    }

    &__icon {
    }
}