@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.socials {
    @include content-default;
    padding-bottom: 2rem;

    &__items {
        display: flex;
        justify-content: space-between;

        @include tablet {
            justify-content: flex-end;
        }
    }

    &__item {
        list-style: none;
        padding: 1rem 0.5rem;
        border-bottom: 3px solid transparent;

        &:hover, &:focus, &:active {
            border-bottom: 3px solid $color-background;
        }

        @include tablet {
            margin-right: 0.75rem; 
        }
    }
}