@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.header-nav {
    display: none;
    
    @include desktop {
        display: flex;
    }

    &__items {
        list-style-type: none;
        display: flex;
    }

    &__item {
        margin-left: 1.5rem;
    }

    &__link {
        position: relative;
        color: $color-text;
        text-decoration: none;
        padding: 1.5rem .5rem;

        &::before, &::after {
            @include absolute-fill;
            content: "";
            opacity: 0;
            transition: transform 250ms ease-in-out;
        }

        &::before {
            transform: scale(0, 1);
        }

        &::after {
            transform: scale(1, 0);
        }

        &:hover::before, &:hover::after {
            opacity: 1;
        }

        &:hover::before {
            transform: scale(1.2, 1);
            border-top: 1px solid $color-text;
            border-bottom: 1px solid $color-text;
        }

        &:hover::after {
            transform: scale(1, 1.2);
            border-left: 1px solid $color-text;
            border-right: 1px solid $color-text;
        }

        &--active {
            border-bottom: 0.25rem solid $color-text;
            transition: 0.2s ease-out;


            &:hover {
                border-bottom: none;
            }
        }
    }
}