@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.header-nav {
    display: none;
    

    @include desktop {
        display: flex;
    }

    &__items {
        list-style-type: none;
        display: flex;
    }

    &__item {
        margin-left: 1.5rem;
    }

    &__link {
        color: $color-text;
        text-decoration: none;
        padding: 1.5rem .5rem;

        &:hover {
            background-color: $color-text-alt;
        }

        &--active {
            border-bottom: 3px solid $color-text;
        }
    }
}